.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  }
  
  .input label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    margin-bottom: 0.5rem;
    padding:  0.15rem;
  }
  
  .input input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }